<a href="https://colab.research.google.com/github/MachineLearnia/Python-tutoriel/blob/master/04%20-%20Structures%20de%20donn%C3%A9es%20(Listes%20et%20Tuples).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4/30 : Structure de données (Listes et Tuples)

Une structure de données est une variable capable de contenir plusieurs valeurs a la fois. Une structure de données peut former une **séquence** si les valeurs qui la composent sont rangées dans un certains ordre. C'est le cas des **listes** et des **tuples**. A l'inverse un **Dictionnaire** ne forme pas une séquence.

## 1. Création de Listes et de Tuples
une liste ou un tuple peuvent contenir tout types de valeurs (int, float, bool, string). On dit que ce sont des structures hétérogenes.

La différence entre les 2 est qu'une liste est **mutable** alors qu'un Tuple ne l'est pas (on ne peut pas le changer apres qu'il soit crée)

In [0]:
# Listes
liste_1 = [1, 4, 2, 7, 35, 84]
villes = ['Paris', 'Berlin', 'Londres', 'Bruxelles']
nested_list = [liste_1, villes] # une liste peut meme contenir des listes ! On appelle cela une nested list

#Tuples
tuple_1 = (1, 2, 6, 2)

In [2]:
print(villes)

['Paris', 'Berlin', 'Londres', 'Bruxelles']

## 2. Indexing et Slicing
Dans une séquence, chaque élément est rangé selon un **index** (le premier index étant l'index 0)

Pour acceder a un élément d'une liste ou d'un tuple, on utilise une technique appelée **Indexing**

Pour acceder a plusieurs éléments d'une liste ou d'un tuple, on utilie une technique appelée **Slicing**

In [7]:
# INDEXING

print('séquence complete:', villes)
print('index 0:', villes[0])
print('index 1:', villes[1])
print('dernier index (-1):', villes[-1])

séquence complete: ['Paris', 'Berlin', 'Londres', 'Bruxelles']
index 0: Paris
index 1: Berlin
dernier index (-1): Bruxelles

In [9]:
# SLICING [début (inclus) : fin (exclus) : pas]

print('séquence complete:', villes)
print('index 0-2:', villes[0:3])
print('index 1-2:', villes[1:3])
print('ordre inverse:', villes[::-1])

séquence complete: ['Paris', 'Berlin', 'Londres', 'Bruxelles']
index 0-2: ['Paris', 'Berlin', 'Londres']
index 1-2: ['Berlin', 'Londres']
ordre inverse: ['Bruxelles', 'Londres', 'Berlin', 'Paris']

## 3. Actions utiles sur les listes

In [22]:
villes = ['Paris', 'Berlin', 'Londres', 'Bruxelles'] # liste initiale
print(villes)

villes.append('Dublin') # Rajoute un élément a la fin de la liste
print(villes)

villes.insert(2, 'Madrid') # Rajoute un élément a l'index indiqué
print(villes)

villes.extend(['Amsterdam', 'Rome']) # Rajoute une liste a la fin de notre liste
print(villes)

print('longeur de la liste:', len(villes)) #affiche la longueur de la liste

villes.sort(reverse=False) # trie la liste par ordre alphabétique / numérique
print(villes)

print(villes.count('Paris')) # compte le nombre de fois qu'un élément apparait dans la liste

['Paris', 'Berlin', 'Londres', 'Bruxelles']
['Paris', 'Berlin', 'Londres', 'Bruxelles', 'Dublin']
['Paris', 'Berlin', 'Madrid', 'Londres', 'Bruxelles', 'Dublin']
['Paris', 'Berlin', 'Madrid', 'Londres', 'Bruxelles', 'Dublin', 'Amsterdam', 'Rome']
longeur de la liste: 8
['Amsterdam', 'Berlin', 'Bruxelles', 'Dublin', 'Londres', 'Madrid', 'Paris', 'Rome']
1

Les listes et les tuples fonctionnent en harmonies avec les structures de controle **if/else** et **For**

In [23]:
if 'Paris' in villes:
  print('oui')
else:
  print('non')

oui

In [24]:
for element in villes:
  print(element)

Amsterdam
Berlin
Bruxelles
Dublin
Londres
Madrid
Paris
Rome

La fonction **enumerate** est tres utile pour sortir a la fois les éléments d'une liste et leurs **index**. C'est une fonction tres utilisée en datascience

In [25]:
for index, element in enumerate(villes):
  print(index, element)

0 Amsterdam
1 Berlin
2 Bruxelles
3 Dublin
4 Londres
5 Madrid
6 Paris
7 Rome

La fonction **zip** est aussi tres utile pour itérée a travers 2 listes en paralleles. Si une liste est plus courte que l'autre, la boucle for s'arrete a la liste la plus courte

In [28]:
liste_2 = [312, 52, 654, 23, 65, 12, 678]
for element_1, element_2 in zip(villes, liste_2):
  print(element_1, element_2)

Amsterdam 312
Berlin 52
Bruxelles 654
Dublin 23
Londres 65
Madrid 12
Paris 678

## 4. Exercice et Solution
Transformer le code suivant qui donne la **suite de Fibonacci** pour enregistrer les résultats dans une liste et retourner cette liste a la fin de la fonction

In [0]:
# Exercice :
def fibonacci(n):
    a = 0
    b = 1
    while b < n:
      a, b = b, a+b
      print(a)

In [30]:
# SOLUTION :

def fibonacci(n):
    a = 0
    b = 1
    fib = [a] # Création d'une liste fib 
    while b < n:
        a, b = b, a+b
        fib.append(a) # ajoute la nouvelle valeur de a a la fin de fib
    return fib

print(fibonacci(1000))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]